apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  labels:
    app: {{ .Values.db.labels.app }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.db.labels.app }}
  template:
    metadata:
      labels:
        app: {{ .Values.db.labels.app }}
    spec:
      containers:
      - name: {{ .Release.Name }}-db
        image: {{ .Values.db.image }}:{{ .Values.db.tag }}
        ports:
        - containerPort: 5432
          name: {{ .Values.db.name }}