apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-web
  labels:
    app: {{ .Values.web.labels.app }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.web.labels.app }}
  template:
    metadata:
      labels:
        app: {{ .Values.web.labels.app }}
    spec:
      containers:
      - name: {{ .Release.Name }}-web
        image: {{ .Values.web.image }}
        ports:
        - containerPort: 80
          name: {{ .Values.web.name }}